*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Combo.png);
    background-repeat: no-repeat;
    background-size: contain;
}


body {
    background-color: black;
    color: yellow ;
    font-size: 20px;
    font-weight: 900;
}

.container{
    height: 120vh;
}

.container_botao{
    background-color: red;
    border-radius: 4px;
    padding: 1em;
    color: white;
    display: block;
    text-decoration: none;
    margin: 0 400px;
}

.botao_secundario {
    background-color: rgb(0, 153, 255);
    border: 2px;
    text-decoration: none;

}

.container_aviso {
    background-color: transparent;
    font-size: 12px;
    margin: 0 400px;
}

.container_imagem {
    margin: 1em 2em 2em 12em;
}

.container_caixa {
    margin: 0 0;
}

.secundario_imagem {
    widows: 40%;
}

.secundario {
align-items:center;
margin: 0 10em;
background-image:url(img/Coma.png)
}

